.bd-red {
    border: 2px solid red;
}
.bd-blu {
    border: 2px solid blue;
}
.bd-gre {
    border: 2px solid green;
}
.bd-pur {
    border: 2px solid purple;
}

$cl-nav: rgba(194, 61, 65, .9);
$cl-footer: rgba(3, 1, 1, .9);
$cl-line: rgba(255, 79, 85, 0.3);
$cl-link: rgba(255,255,255,.5);
$cl-title: rgba(255,255,255,.9);

#jumbotron {
    background-image: url("../resources/img/index/kids-dark.jpg");
    background-position-x: 10%;
    background-position-y: 59%;
    background-size: 100%;
    color: $cl-title;
    min-height: 350px;
    h1 {
        font-size: 3rem;
        font-weight: 900;
        -webkit-text-stroke: 3px $cl-line;
    }
}

.bg-nav {
    background-color: $cl-nav;
}

.footer {
    background-color: $cl-footer;
    color: $cl-link;
    a {
        color: $cl-link;
    }
}

.rs-container {
    height: 30px;
    width: 30px;
}

.img-rs {
    width: 20px;
    opacity: .5;
}

.img-rs:hover {
    transition: opacity .1s ease;
    transition: width .1s ease;
    width: 30px;
    opacity: 1;
}

.fs-1 {
    font-size: .7rem;
}

.img-index {
    max-height:500px;
}

.row-content {
    margin: 3rem 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid $cl-line;
    a {
        color: black;
        opacity: .8;
    }
    h1 {
        margin-bottom: 2rem;
    }
    h2 {
        margin-bottom: 2rem;
    }
}

.index-link {
    color: black;
    opacity: .8;
    h1 {
        font-size: 3rem;
    }
}

$circle-1: hsla(358, 52%, 50%, 0.2);
$circle-2: hsla(199, 50%, 43%, 0.2);
$circle-3: hsla(53, 73%, 58%, 0.2);

.index-circle-1 {
    width: 100%;
    max-width: 300px;
    background: $circle-1;
}

.index-circle-2 {
    max-width: 400px;
    width: 100%;
    background-color: $circle-2;
}

.index-circle-3 {
    max-width: 400px;
    width: 100%;
    background-color: $circle-3;
}

.index-circle-1:after, .index-circle-2:after, .index-circle-3:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.carousel-inner img {
    margin: auto;
  }